<div class="toast-container position-fixed top-0 end-0 p-3">

  <% if(success && success.length){ %>
  <div class="toast text-bg-success border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body">
        <%= success %>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
  <% } %>

  <% if(error && error.length){ %>
  <div class="toast text-bg-danger border-0" role="alert">
    <div class="d-flex">
      <div class="toast-body">
        <%= error %>
      </div>
      <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
    </div>
  </div>
  <% } %>

</div>
